@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSansRegular/opensans-regular.woff') format('woff'),
		 url('/fonts/OpenSans/OpenSansRegular/opensans-regular.woff2') format('woff2'); 
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSansBold/opensans-bold.woff') format('woff'),
		 url('/fonts/OpenSans/OpenSansRegular/opensans-regular.woff2') format('woff2'); 
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}